<% @categories.each do |category| %>
  <h2><%= category.search_term %></h2>
    <% category.gifs.each do |gif| %>
      <p><%= image_tag(gif.image_path) %></p>
      <% if !Favorite.find_by(user_id: current_user.id, gif_id: gif.id) %>
        <%= link_to 'Favorite me!', {:controller => "favorites",
                     :action => "create",
                     :user_id => current_user.id,
                     :gif_id => gif.id},
                     :method => "post",
                      class: "btn btn-success" %><p>
      <% else %>
        <span class="btn btn-success", disabled="disabled">Already a favorite!</span>
      <% end %><hr>
    <% end %>
<% end %>
