<div class="container">
<% @categories.each do |category| %>
  <h1 style="font-weight: lighter"><%= category.search_term.capitalize %></h1>
  <div class="row well">
    <% category.gifs.each do |gif| %>
      <div class="col-md-4">
        <div class="thumbnail">
      <%= image_tag(gif.image_path) %>
      <div class="caption">
        <% if !Favorite.find_by(user_id: current_user.id, gif_id: gif.id) %>
        <%= link_to 'Favorite', {:controller => "favorites",
                     :action => "create",
                     :user_id => current_user.id,
                     :gif_id => gif.id},
                     :method => "post",
                      class: "btn btn-success"%>
      <% else %>
        <span class="btn btn-success", disabled="disabled">Already a favorite!</span>
        <% end %></div></div></div>
      <% end %></div>
    <% end %>
  </div>
