  <% @user.favorites.each do |fav| %>
    <p><%= image_tag(Gif.find_by(id: fav.gif_id).image_path) %></p>
    <p><%= link_to "Unfavorite", favorite_path(fav), method: :delete %></p>
    <% end %>
<p><%= link_to "Back to all GIFs", gifs_path %><p>
