<h1>All Categories</h1>
<% @categories.each do |category| %>
  <div class="category_<%= category.id %>">
    <%= category.search_term %>
    <%= link_to "Delete", admin_category_path(category), method: :delete %>
  </div>
<% end %>

<%= link_to "Back to my admin page", admin_user_path(current_user) %>
